<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  {% block title %}
    
  {% endblock title %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    

</head>

<body class="bg-info" style="--bs-info-rgb: 182, 224, 254;" >

  <nav class="navbar bg-light" style="--bs-light-rgb: 240, 244, 253;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/hospital-svgrepo-com.svg" alt="Hospital icon" width="30" height="24" class="d-inline-block align-text-top">
        <spam class=" ">Agarwal Hospital</spam>
      </a>
    </div>
  </nav>

  {% block body %}
    
  {% endblock body %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
</body>

</html>